header {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}
.lettering {
  color: whitesmoke;
}
.background {
  background-color:  #4056A1;
}