
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #545149;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 24px;
  background-color: #ebe8cca7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}
main {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}
output {
  color: rgb(63, 61, 61);
  font-family: 'Bungee', cursive;
}
label {
  font-family: 'Source Sans Pro',sans-serif;
  display: flex;
  font-weight: 600;
}
textarea {
  background-color: transparent;
  resize: none;
  outline: 0;
  border-width: 0 0 4px;
  border-color: rgb(5, 5, 5);
  margin-bottom: 8px;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
  color: #4056A1;
}

article.tweet {
  border: black;
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-top: 25px;
  padding: 1em;
}
article.tweet:hover {
  box-shadow: 10px 5px 11px rgb(90, 121, 28);
}
header.tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: revert;
}
div.content {
  border-bottom: solid;
  border-color: black;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 25px;
  border-width: 4px;
  font-family: 'Source Sans Pro',sans-serif;
  color: #4056A1;
  font-weight: 600;
}
footer.tweet {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
i {
  color: #4056A1;
}
span.tweet {
  display: flex;
  justify-content: space-evenly;
  transform: scale(.7);
}
span.Date {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
}
span.icon {
  width: 125px;
}
i:hover {
  color: red;
}
.divMain {
  text-align: center;
  width: 90%;
}
.tweetDiv {
  display: flex;
  justify-content: space-between;
}
.lastName {
  color: rgb(90, 121, 28);
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
}
.error1 {
  display: flex;
  border: solid;
  justify-content: space-evenly;
  border-color: red;
  border-radius: 8px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  color: red;
  height: 45px;
  align-items: center;
}
.error2 {
  display: flex;
  border: solid;
  justify-content: space-evenly;
  border-color: red;
  border-radius: 8px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  color: red;
  height: 45px;
  align-items: center;
}
.warningIcon {
  color: red;
}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main {
    margin-top: 250px;
  }
  .mainHeader {
    width: 40vw;
    position: relative;
    top: 10vw;
  }
}
