nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4056A1;
  color:white;
  height: 120px;
  padding: 1.5em;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
.spanTitle {
  font-family: 'Bungee', cursive;
  display:flex;
  align-items: flex-end;
  font-size: 35px;
}
.spanContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans Pro';
} 
.DD {
  color: red;
}